version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: back-end:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
